.heading{
    text-align: center;
}
.heading > h2{
    color: #FE5454
}
.heading > p{
   font-size: 10px;
}
#filled-basic{
    border-bottom: 3px solid #FE5454
}
.imageDiv{
    width: 80%;
    margin: auto;
    display:flex;
    justify-content: space-between;
}
.imagess{
    width:80px;
    border-radius: 50%;
    border: 1px solid #d7d1d1
    
}
.SwitchDiv{
    display: flex;
    justify-content: space-between
}
.card{
    width:100px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: rgb(213, 208, 208);
    border-radius: 15px;
    padding: 5px;
    margin:10px 5px;
}
.wrap{
    flex-wrap: wrap;
   
}
.submitButton{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.deletBtn{
    background-color: #6d6969;
    border-radius:50%;
    height:10px;
    width:10px;
    padding:5px;
    text-align: center;
    
}